@font-face {
    font-family: 'Ubuntu-Regular';
    src: url(fonts/Ubuntu-Regular.ttf)/*, format('ttf')*/;
}
@font-face {
    font-family: 'Ubuntu-Medium';
    src: url(fonts/Ubuntu-Medium.ttf);
}
@font-face {
    font-family: 'Ubuntu-Bold';
    src: url(fonts/Ubuntu-Bold.ttf);
}
:root{
    --smooth:all .4s ease;

/* ========== COLORS ========== */
    --main-color:hsl(213, 96%, 18%);
    --secondary-color:hsl(243, 100%, 62%);
    --body-color:hsl(206, 78%, 96%);
    --pastel-blue: hsl(228, 100%, 84%);
    --strawberry-red: hsl(354, 84%, 57%);
    --cool-gray: hsl(231, 11%, 63%);
    --light-gray: hsl(229, 24%, 87%);
    --magnolia: hsl(217, 100%, 97%);
    --alabaster: hsl(231, 100%, 99%);
    --white: hsl(0, 0%, 100%);
    --title-color:black;
    --text-color:black;

/* ========= Font and Typography ========= */
/* .5rem=8px | 1rem=16px */
    --body-font:'Ubuntu-Regular', sans-serif;
    --title-font:'Ubuntu-Regular', sans-serif;
    --medium-font:'Ubuntu-Medium', sans-serif;
    --bold-font:'Ubuntu-Bold', sans-serif;
    --biggest-font-size:1.75rem;
    --h1-font-size:1.5rem;
    --h2-font-size:1.25rem;
    --h3-font-size:1.125rem;
    --normal-font-size:1rem;
    --small-font-size:0.875rem;
    --smaller-font-size:0.75rem;
    --tiny-font-size:0.625rem;

/* ======= Font Weight ========= */
    --fw-normal:400;
    --fw-medium:500;
    --fw-bold:700;
    
/* ======== z-index ========== */
    --pop-up:1000;
    --front-layer:100;
    --middle-layer:10;
    --back-layer:1;
}

/*============ Responsive Typography ===========*/
@media (min-width:992px){
    :root{
      --title-font:'Ubuntu-Medium', sans-serif;
        --biggest-font-size:2rem;
        --h1-font-size:1.75rem;
        --h2-font-size:1.375rem;
        --h3-font-size:1.25rem;
        --normal-font-size:1.125rem;
        --small-font-size:1rem;
        --smaller-font-size:0.875rem;
        --tiny-font-size:0.75rem;
    }
}

/* ============= BASE ================= */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:var(--body-color);
    font-family:var(--body-font);
    font-size: 1rem;
    position: relative;
}
body.final{
    padding-top: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
html{
    scroll-behavior: smooth;
}
h1, h2, h3, h4{
    font-family:var(--title-font);
    color:var(--main-color);
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    cursor: pointer;
    font-family:var(--medium-font);
}
img{
    max-width: 100%;
}
button{
    cursor: pointer;
}

/* ========= REUSABLE CLASSES ========= */
.container{
    max-width: 1280px;
    margin: 0 auto;
}
.grid{
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
}
.section__title{
    font-size: var(--h2-font-size);
    /* font-weight:var(--fw-bold); */
    color: var(--main-color);
    margin-bottom:.5rem;
}
.section__subtitle{
    font-size: var(--small-font-size);
    font-weight: var(--fw-medium);
    color:var(--cool-gray);
    margin-bottom:1rem;
}
.btn{
    font-family: var(--title-font);
    text-decoration: none;
    font-size:var(--small-font-size);
    padding:.75rem 1.25rem;
    border-radius:.5rem;
    border: 0;
    outline: 0;
    display: inline-block;
    text-align: center;
    transition: var(--smooth);
    cursor: pointer;
}
.btn__primary{
    background-color:var(--main-color);
    color: var(--white);
    float: right;
}
.btn__primary:hover{
    opacity: .8;
}
.btn__secondary{
    background-color: var(--white);
    color: var(--cool-gray);
}
.btn__secondary:hover{
    color: var(--main-color);
}
/*  */

/* ========== Main ================= */
main{
    position: relative;
    margin-bottom: 10rem;
    /* border: 2px solid black; */
}
.wrapper{
    position: relative;
    /* border: 1px solid blue; */
}
.form__title{
    background-image: url(images/bg-sidebar-mobile.svg);
    background-size: cover;
    height:30vh;
    display: grid;
    place-items: center;
    z-index: 1;
    /* border: 1px solid black; */
}
.steps__box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: .5rem;
    place-items: center;
    margin-top: -5rem;
}
.each__stp{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    column-gap:1rem;
}
.numbx{
    aspect-ratio: 1;
    inline-size: 1.75rem;
    border-radius: 50%;
    border: 1px solid var(--white);
    position:relative;
    display: grid;
    place-items: center;
    font-size:var(--smaller-font-size);
    font-weight:var(--fw-bold);
    color: var(--white);
    cursor: pointer;
    transition: var(--smooth);
}
.numbx:hover{
    border: 0;
    background-color: var(--body-color);
    color:var(--main-color);
}
.numbx.active{
    border: 0;
    background-color: var(--body-color);
    color:var(--main-color);
}
.stp__title{
    display: none;
}




.form__body{
    display: grid;
    place-items: center;
    background-color: var(--white);
    width: 70%;
    min-width: 350px;
    margin:auto;
    margin-top: -5rem;
    border-radius: 1rem;
    box-shadow: 0 3px 20px var(--light-gray);
    /* border: 1px solid black; */
}
.step{
    transition: var(--smooth);
    padding:1.5rem 1rem 0;
}
.form__one{
    display: none;
    width: 100%;
    padding-bottom: 1rem;
    /* border: 1px solid blue; */
}
.form__one.active__step{
    display: block;
}
.inputBox{
  position: relative;
}
.form__one label{
    font-family: var(--medium-font);
    font-size: var(--small-font-size);
    display:inline-block;
    color: var(--main-color);
}
.error__msg{
    height: 1rem;
    font-size: var(--smaller-font-size);
    color: var(--strawberry-red);
    display:block;
}
.inputBox.error .error__msg{
    opacity: 1;
}
.inputBox.success .error__msg{
    opacity: 0;
}
.inputBox.success input{
    outline-color: green;
}
.form__one input{
    display: block;
    width: 100%;
    padding:.75rem;
    border-radius: .25rem;
    border:0;
    outline: 1.5px solid var(--cool-gray);
    font-size:var(--smaller-font-size);
    color: var(--main-color);
    font-weight: var(--fw-normal);
    margin-bottom:.1rem;
    margin-top: 0.5rem;
    transition: var(--smooth);
}
.form__one input:active, .form__one input:focus{
    outline:2px solid var(--secondary-color);
}
.form__one input::placeholder{
    color:var(--cool-gray);
}
.btnBox{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color:var(--white);
    padding:.75rem;
    box-shadow: 0 -2px 5px var(--cool-gray);
    /* border: 1px solid black; */
}
.back{
    display: none;
}

@media(min-width:880px){/*55rem*/
    body{
        display: grid;
        place-items: center;
        max-height: 100vh;
    }
    main{
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 1rem;
        border-radius: 1rem;
        background-color: var(--white);
        min-height:auto;
        height:85vh;
        width:768px !important;
        box-shadow: 0 3px 7px var(--light-gray);
        margin-top: 30vh;
        transform: translateY(-23vh);
        /* border: 1px solid black; */
    }
    .wrapper{
        padding-inline: 2rem;
        background-color: var(--white);
        border-radius: .5rem;
        /* border: 1px solid black; */
        overflow-x: hidden;
        position: relative;
    }
    .form__title{
        background-image: url(images/bg-sidebar-desktop.svg);
        height: 100%;
        border-radius: .5rem;
        justify-items: left;
        align-items:start;
        padding: 1rem; 
        /* border: 1px solid black; */
    }
    .steps__box{
        display: flex;
        flex-direction: column;
        align-items:start;
        margin-top: 1rem;
        margin-left: 1rem;
        gap: 2rem;
        /* border: 1px  solid black; */
    }
    .stp__title{
        display: inline-block;
    }
    .stp__title h3, .stp__title h2{
        color: var(--white);
        text-transform: uppercase;
        font-weight: var(--fw-medium) !important;
        font-size:var(--smaller-font-size);
        letter-spacing:1.5px;
    }
    .stp__title h3{
        opacity: .7;
        font-weight: var(--fw-normal) !important;
        font-size: var(--smaller-font-size);
    }
    .step{
      padding: 2rem 2rem 0;
      /* border:1px solid black; */
    }
    .form__body{
        margin-top:0;
        margin-left:1rem;
        width: 100%;
        box-shadow: none;
        /* border: 1px solid black; */
    }
    .form__one input{
      margin-bottom: 1rem;
    }
    .error__msg{
        position: absolute;
        top: .25rem;
        right:2px;
        margin-bottom: 0;
    }
   .btnBox{
        /* display: none; */
        border-bottom-right-radius: inherit;
        box-shadow: none;
        width:calc(2/3 * 100%);
        padding-inline: 4rem;
        /* border: 1px solid black; */
    }
}
@media(min-width:70rem){/*1120px*/
    main{
        width: 68rem;/*1088px*/
    }
}


.form__two{
    display: none;
    /* border: 1px solid black; */
}
.form__two.active__step{
    display: block;
}
.form__two input{
    border: none;
    outline: none;
}
#form__two__error{
    color: var(--strawberry-red);
    font-size: var(--smaller-font-size);
    transition: var(--smooth);
    opacity: 0;
}
.toggleBox{
    width: 100%;
    background-color: var(--alabaster);
    border-radius:.5rem;
    height: 50px;
    margin-bottom:3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    /* border: 1px solid black; */
}
.toggleBox p{
    font-family: var(--bold-font);
    color: var(--cool-gray);
    font-size: var(--smaller-font-size);
}
.toggle{
    display:none;
}
.toggle:checked + .toggled .indicator{
    margin-left: 22px;
}
.toggled{
    width: 35px;
    background-color: var(--main-color);
    height: 20px;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.indicator{
    width: 14px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--white);
    margin:4px;
    transition: var(--smooth);
}
.shift{
    margin-left:17px;
}
.m__text, .y__text{
    transition: var(--smooth);
}
.m__text.active, .y__text.active{
    color: var(--main-color);
}
.planBox{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: .5rem;
    padding-bottom: 2rem;
    /* border: 1px solid black; */
    transition:var(--smooth);
}
.plans{
    height:8rem;
    border: 1.5px solid var(--cool-gray);
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    padding:1rem;
    justify-content: space-between;
    transition: var(--smooth);
    cursor: pointer;
    position: relative;
}
.plans.selected{
    border-color: var(--secondary-color);
    background-color: var(--body-color);
}
.plans:hover{
    border-color: var(--secondary-color);
    background-color: var(--magnolia);
}
.plans input{
    display: none;
}
.plans img{
    width: 30px;
}
.plans img, .plans input, .plans .plan__content{
    z-index: 100;
}
.plan__content p{
    font-size: var(--small-font-size);
    font-family: var(--medium-font);
    color: var(--main-color);
    transition:all 1s linear;
}
.monthly .plan__content small, .yearly .rate__txt{
    font-size: var(--tiny-font-size);
    font-family: var(--medium-font);
    color: var(--cool-gray);
    transition:all 1s linear;
    display: block;
}
.yearly .discount__txt{
    font-size: 0.625rem;
    font-family: var(--medium-font);
    display: block;
    color:var(--main-color);
    transition:all 1s linear;
}
.planBox.monthly.out{
    transform: translateX(-100%);
    display: none;
}
.planBox.yearly{
    transform: translateX(100%);
    display: none;
}
.planBox.yearly.in{
    transform: translateX(0);
    display: grid;
}
.monthly, .yearly{
    transition: all 1s linear;
}


@media(max-width:880px){
    .planBox{
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }
    .plans{
        flex-direction: row;
        height: 5rem;
        justify-content: start;
        align-items: center;
        gap: 2rem;
    }
    .yearly .plan__content p, .yearly .rate__txt{
        margin-bottom: .3rem;
    }
    .plan__content p{font-family: var(--bold-font);}
    .monthly .plan__content small, .yearly .rate__txt{
        font-size: var(--smaller-font-size);
    }
    .yearly .discount__txt{
        font-size: 0.75rem;
    }
}

.form__three{
    display:none;
}
.form__three.active__step{
    display: block;
}
.addOnBox{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    padding-bottom:2rem;
}
.addOn{
    padding: .8rem .8rem 1rem;
    border-radius: .5rem;
    border: 1.5px solid var(--cool-gray);
    display: grid;
    grid-template-columns:1fr 5fr 1.5fr;
    align-items: center;
    height:4rem;
}
.addOn.selected{
    border-color: var(--secondary-color);
    background-color:var(--magnolia);
}
.addOn input{
    display: inline-block;
    outline: none;
    appearance:none;
    width:1.125rem;
    aspect-ratio: 1;
    background-color:transparent;
    border: 1px solid var(--cool-gray);
    border-radius:3px;
    position: relative;
    display: flex;
    justify-content: center;
    transition: var(--smooth);
}
.addOn input::before{
    content: '\2714';
    font-family:var(--medium-font);
    font-size:1rem;
    color: var(--secondary-color);
    position: absolute;
    bottom:-.15rem;
    display: none;
}
.addOn input.selected{
    background-color: var(--magnolia);
    border-color:var(--secondary-color);
}
.addOn input.selected::before{
    display: inline;
}
.addOn__desc p{
    color: var(--main-color);
    font-size:var(--small-font-size);
    font-family: var(--bold-font);
}
.addOn__desc small{
    color: var(--cool-gray);
    font-size: var(--smaller-font-size);
    font-family: var(--medium-font);
}
.addOn__price{
    color: var(--secondary-color);
    font-size: var(--small-font-size);
    font-family: var(--medium-font);
    padding-left: 1rem;
}
.addOnBox.monthly.out{
    transform: translateX(-100%);
    display: none;
}
.addOnBox.yearly{
    transform: translateX(100%);
    display: none;
}
.addOnBox.yearly.in{
    transform: translateX(0);
    display: grid;
}
@media(min-width:880px){
    .addOnBox{
      row-gap: 1rem;
    }
    .addOn{
      padding: 1rem 1.5rem;
      height: fit-content;
    }
    .addOn:hover{
    border-color: var(--secondary-color);
    background-color:var(--magnolia);
    }
    .addOn input::before{
      font-weight: 600;
    }
    .addOn__desc p{
        font-size:var(--smaller-font-size);
        margin-bottom: 0.25rem;
    }
    .addOn__desc small{
        font-size:var(--smaller-font-size);
    }
    .addOn__price{
        font-size: var(--small-font-size);
        padding-left: 1rem;
    }
  }


.form__four{
    display: none;
}
.form__four.active__step{
    display: block;
}
.choiceBox{
    border-radius: 1rem;
    overflow: hidden;
}
.user__summary{
    padding:1.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    /* border: 1px solid blue; */
}
.user__plan.show::before, .user__bio::before{
    position: absolute;
    content: '';
    bottom:.1rem;
    left: 2.5%;
    width: 95%;
    height: 1px;
    background-color: var(--light-gray);
}
.user__summary:not(.user__bill){
    background-color:#f5f5f5;
}
.user__bio{
    justify-content: flex-start;
}
.user__addOns{
    display: block;
    padding:0;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}
.user__plan.shapeBottom{
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}
.user__summary a{
    display: block;
}
#bioParent{
    /* border: 1px solid #ccc; */
    width: 100%;
}
.bio{
    font-size: var(--smaller-font-size);
    color: var(--cool-gray);
    padding: .5rem;
    background-color: var(--white);
    margin: 0.1rem 0 1rem;
    width: 100%;
    border-radius:.2rem;
    height: 30px;
    box-shadow: 0 5px 10px rgba(194, 194, 194, 0.6);
}
.bioTags{
    color: var(--main-color);
    font-size: var(--small-font-size);
    font-family: var(--medium-font);
}
.change{
    color: var(--cool-gray);
    font-size: 0.75rem;
    font-family: var(--medium-font);
    text-decoration: underline var(--cool-gray);
    cursor: pointer;
    width: fit-content;
}
.change:hover{
    color: var(--secondary-color);
    text-decoration: underline var(--secondary-color);
}
.user__plan{
    display: block;
}
.plan__nameBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.selDiv{
    display: none;
}
.selDiv.active{
    padding:0 1rem;
    margin:1rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    background-color:inherit;
    position: relative;
    overflow: hidden;
}
.addOn__name, .total__text{
    color: var(--cool-gray);
    font-size: var(--small-font-size);
}
.plan__cost, .plan__nameBox{
    color: var(--main-color);
    font-size: var(--small-font-size);
    font-family: var(--medium-font);
}
.addOn__cost{
    font-size: var(--small-font-size);
    color: var(--main-color);
}
.total__text{
    color:var(--cool-gray);
    font-size: var(--small-font-size);
    font-weight: 600;
}
.total__amt{
    font-size: var(--normal-font-size);
    font-weight: 600;
    color: var(--secondary-color);
}
@media(min-width:880px){
.form__four{
    margin-bottom: 5rem;
}
  .user__summary{
    padding:1rem;
  }
  .user__addOns{
    padding: 0rem 1rem;
  }
  .selDiv.active{
    padding: 0;
  }
}


.thank__you{
    place-items: center;
    padding: 3rem 0;
    display: none;
}
.thank__you.active__step{
    display: grid;
}
.thank__you div{
    place-items: center;
    padding-inline: 1rem;
}
.thank__you h1, .thank__you h3{
    text-align: center;
}
.tickBox{
    background: url(images/icon-thank-you.svg);
    background-size: cover;
    width: 4rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--strawberry-red);
    margin-bottom: 1rem;
}
@media(min-width:880px){
    .thank__you{
        transform: translateY(25%);
    }
}